<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2e7d9">  <td>18/05/28 18:58:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterTest()[pri:0, instance:com.bootcamp.TravelocityTest@47c62251]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/05/28 18:57:15</td>   <td>-98357</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeTest()[pri:0, instance:com.bootcamp.TravelocityTest@47c62251]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/05/28 18:58:32</td>   <td>-21140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TravelocityTest.clickFlight(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.bootcamp.TravelocityTest@47c62251]">clickFlight</td> 
  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/05/28 18:58:43</td>   <td>-10376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TravelocityTest.clickFlight(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.bootcamp.TravelocityTest@47c62251]">clickFlight</td> 
  <td>main@540159270</td>   <td></td> </tr>
</table>
